name: Deploy to AWS

on: [push]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4

    - name: Setup hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: '0.152.2'

    - name: Build
      run: hugo

    - name: Deploy
      if: ${{ github.ref == 'refs/heads/main' }}
      run: hugo deploy
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
